
// Source: https://stackoverflow.com/q/21003535/7586
@mixin disableTouchSelectionFeedback() {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

$purple:#973c6d; //ba0060
$teal:#2c877f; //008c56
$green:#3f973c;
$tealer:#3c978f;