@keyframes cardflip {
    0%   {transform: rotateX(0) rotateY(0) scale3d(1,1,1);}
    50%  {transform: rotateX(10deg) rotateY(90deg) scale3d(0.8,0.8,0.8);}
    100% {transform: rotateX(0) rotateY(0) scale3d(1,1,1);}
}

/* we can't use the same animation name for hiding, because then the animation just doesn't work (already active). */
@keyframes cardflipBack {
    0%   {transform: rotateX(0) rotateY(0) scale3d(1,1,1);}
    50%  {transform: rotateX(-10deg) rotateY(-90deg) scale3d(0.8,0.8,0.8);}
    100% {transform: rotateX(0) rotateY(0) scale3d(1,1,1);}
}

/*this could be implemented with normal transition delay, but this way gives more control*/
@keyframes cardSideBecomesVisible { 
    0%   {opacity:0}
    50%  {opacity:0}
    51%  {opacity:1}
    100% {opacity:1}
}
@keyframes cardSideBecomesHidden {
    0%   {opacity:1}
    50%  {opacity:1}
    51%  {opacity:0}
    100% {opacity:0}
}

$quickDuration:200ms; //200ms
$midDuration:$quickDuration + 100;

.Tile.Card.PictureVisible {animation-name: cardflip; animation-duration: $midDuration;}

//flip card to visible
.Tile.Card.PictureVisible .FrontSide {opacity:1;animation-name: cardSideBecomesVisible; animation-duration: $midDuration;}
.Tile.Card.PictureVisible .BackSide {opacity: 0;animation-name: cardSideBecomesHidden; animation-duration: $midDuration;}

//flip card to hidden
.Tile.Card .FrontSide {opacity: 0;} //this is the deault, no need to specify .PictureHidden
.Tile.Card .BackSide {opacity: 1;}
.Tile.Card.PictureHidden.PreviouslyRevealed {animation-name: cardflipBack;animation-duration: $quickDuration;}
.Tile.Card.PictureHidden.PreviouslyRevealed .BackSide {animation-name: cardSideBecomesVisible; animation-duration: $quickDuration;}
.Tile.Card.PictureHidden.PreviouslyRevealed .FrontSide {animation-name: cardSideBecomesHidden; animation-duration: $quickDuration;}

// make the cards smaller on mouse down or tap down
.Tile.Card:not(.PictureVisible) .BackSide:active {transform: scale(0.8);}

//debug jiggle svg glitch -issue #18

//.Tile.Card .FrontSide .Glyph {border:solid 1px blue;}
//.Tile.Card .FrontSide .Glyph svg {border:solid 1px teal;}
.Tile.Card,
.Tile.Card .FrontSide .Glyph,
.Tile.Card .FrontSide .Glyph svg {
    transform: translateZ(0) scale3d(1.0, 1.0, 1.0);
    backface-visibility: hidden;
    image-rendering: crisp-edges;
    //filter: blur(0);
}
//.Tile.Card .Glyph svg {width:40px;height:40px;}

/**/
@keyframes newTile {
    0%   {transform: scale(0.2); opacity: 1;}
    //50%  {transform:  scale(0.6); opacity: 0.6;}
    100% {transform:  scale(1); opacity: 1;}
}
.Tile.Card.PictureHidden.Unknown {animation-name: newTile; animation-duration: $quickDuration;}
.Tile.Card.PictureHidden.Unknown .FrontSide {
    display:none;background-color: blueviolet;opacity:0 !important;
    transition-duration: 0;
} //hide front side while a new unknown tile becomes visible.

//this was added to overcome the transition of the .BackSide, which caused its 
// opcaity and background color make it invisible for half the duration of the animation.
// also - background color was added here bcause otherwise it clashed with transition duration and the 
// back side is too dark for half the duration of the animation.
@keyframes newTileBackSide {
    0%   {opacity: 1; background-color: #333;}
    100% {opacity: 1; }
}

.Tile.Card.PictureHidden.Unknown .BackSide {
    //transition-duration: 1ms;
    animation-name: newTileBackSide; animation-duration: $quickDuration;}


//disable animations for tiles in new and loaded games.
.GameArea.NewGameNoTiles .Tiles .Tile.Card {animation-iteration-count: 0;}
.GameArea.NewGameNoTiles .Tiles .Tile.Card .FrontSide {display: none;}
.GameArea.OldGameLoadedNow .Tiles .Tile.Card.PictureHidden .FrontSide {display: none;}
.GameArea.OldGameLoadedNow .Tiles .Tile.Card .BackSide {animation-iteration-count: 0;}
.GameArea.OldGameLoadedNow .Tiles .Tile.Card {
    animation-iteration-count: 0;
    & .BackSide, & .FrontSide {animation-iteration-count: 0;}
    }


//animations for new game and loaded game.
@keyframes newGame {
    0%   {transform: scale(0.2) rotateX(-180deg) rotateY(-10deg); opacity:0.3;}
    50%  {transform: scale(0.6) rotateX(-90deg) rotateY(0); opacity:0.6;}
    100% {transform: scale(1) rotateX(0) rotateY(0); opacity:1;}
}
.GameArea.NewGameNoTiles .Tiles {animation-name: newGame; animation-duration: 300ms;}

@keyframes loadedGame {
    0%   {transform: scaleY(0.2) scaleX(0.2);  opacity:0.2;}
    //33%  {transform: scaleY(0.3) scaleX(0.4);  opacity:0.3;}
    50%  {transform: scaleY(0.3) scaleX(0.9);  opacity:0.6;}
    100% {transform: scaleY(1)   scaleX(1);    opacity:1;}
}
.GameArea.OldGameLoadedNow .Tiles {animation-name: loadedGame; animation-duration: 300ms; /*transform-origin: 50% 70%;*/}

/* Shine animation based on https://codepen.io/aundrekerr/pen/GtLul */

.Tile.Card/*.Matched*/ .FrontSide::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom:0;
    border-radius: 3px;
}

@keyframes ShineBackground {
      0% { background-position-x: 0%; opacity:0.4; }
     50% { background-position-x: 50%; opacity:0.9; }
    100% { background-position-x: 100%; opacity:0.4; }
}

.Tile.Card.Matched .FrontSide::after {
    background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 45%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
    //background-position-x: 50%;
    background-size: 300%;
    animation-name: ShineBackground;
    animation-duration: 1.5*$midDuration;
    animation-iteration-count: 1; //todo:remove.
    animation-delay: 100ms;
    animation-timing-function: linear;
    opacity:0; //only visible during animation.
    //animation: ShineBackground $midDuration;
}