.Light{

    .Tile.Card {
        .FrontSide { background-color: #eee; border-color:#666; }

        &.PictureHidden .BackSide {
            background-color: #bbb; border-color:#888;
        }
    }

    .HelperMarkKnownTiles .Tile.Card.PictureHidden.Unknown .BackSide {
        background-color: #ccc; border-color:#a3a3a3;
    }
}