@import 'helpers';

html body {
    background-color:#333;
}

html body.Light {
    background-color: #d4d4d4;
}

.Loading {
    color: #aaa; text-align: center;vertical-align:middle;
    position: absolute; top:calc(50% - 2rem);left:10px;right:10px;bottom:10px;

    .Logo {display:block; text-align: center;}
    .Logo svg{
        width:3rem;height:3rem;

        g {fill:white;}
    }
    
}

a:link {color:$teal;}
a:link:hover,a:link:active,a:link:focus {background-color: lighten($teal, 50%);}
a:link:visited {background-color: darken($teal, 20%);}

a[role][tabindex]:link, a.MuiButton-root[tabindex]:link {color:white;}

.Debug.SourceCode {background-color: #222;padding:3px;color:rgb(192, 146, 120);
    overflow:auto;position:absolute;width: 500px;top:8px;right:8px;bottom: 8px; column-width: 200px;}

.Tiles, .TilesPreview {
        display:flex; flex-flow: row wrap;
        align-content: center;
        justify-content: center;}
.Tiles {position: absolute;left:0;right:0;bottom:0;top:3em;}
.Tile {flex-grow:0;}
.LayoutNewLine {width:100%;height:0; /*border:solid 1px palevioletred;*/}

@media screen and (orientation: portrait){
    .Tiles.LayoutHorizontal, .TilesPreview.LayoutHorizontal {flex-flow: column wrap;
        .LayoutNewLine {height:100%;width:0;}
    }
}
@media screen and (orientation: landscape){
    .Tiles.LayoutVertical, .TilesPreview.LayoutVertical {flex-flow: column wrap;
        .LayoutNewLine {height:100%;width:0;}
    }
}

.Tile {position:relative;vertical-align: middle; @include disableTouchSelectionFeedback();}
.Tile.Card .FrontSide,.Tile.Card .BackSide {
    @include disableTouchSelectionFeedback();
    position: absolute;top:0;left:0;right:0;bottom:0;
    border-radius: 3px;
    box-shadow:0 3px 4px -2px rgba(0,0,0,0.3);
    border:solid 1px #111;
    //box-shadow: 0 0 1px 12px #7771 inset;
    //background-color:#666;
}
.Tile.Card {cursor: pointer;}

//tile background:
//`background-attachment: fixed` was supported by IE6, but is not implemented yet mobile Safari T_T
//.Tile {background-attachment: fixed; background-image:url('https://weneedfun.com/wp-content/uploads/2015/10/Cute-puppy-Pictures-29.jpg'); }
//.Tile.Card {background-attachment: scroll; background-image:url('http://ghk.h-cdn.co/assets/17/30/1600x800/landscape-1500925839-golden-retriever-puppy.jpg'); }

.Tile.Card .FrontSide {background-color:#ccc;}
//.Tile.Card.Matched .FrontSide {background-color:#eee;}
.Tile.Card.FailReasonTile .FrontSide {background-color:#e99;border:solid 1px #811; 
    box-shadow: 0 0 10px 4px rgba(200,0,0,0.4);}
.Tile.Card.PictureHidden .BackSide {background-color: #666;}
.HelperMarkKnownTiles .Tile.Card.PictureHidden.Unknown .BackSide {background-color: #333;}

//mobile chrome is showing :hover color after touch. why. this hach only shows hover color when hover is supported. 
// https://stackoverflow.com/q/23885255/7586
@media (hover: hover) {
    .Tile.Card.PictureHidden .BackSide:hover {border-color:#333; background-color: #777;}
    .HelperMarkKnownTiles .Tile.Card.PictureHidden.Unknown .BackSide:hover {background-color: #444;}
}

//.LayoutNewLine {width:0;height:0;page-break-after: always;break-after: always;}

.Tile.Card, .BackSide, .FrontSide {transition-duration: 200ms; transition-timing-function: ease-in; 
    transition-property: border, color, opacity, background-color, box-shadow, transform;
}

.Tile.Space {box-shadow: none; border-color: solid 1px transparent; background-color: transparent; 
    /* background-color: #1113;*/ cursor:default; 
}
 
/* .HelperMarkKnownTiles .Tile.PreviouslyRevealed {} */
//.HelperMarkKnownTiles .Tile.Card.Unknown {background-color:#333;}
//.HelperMarkKnownTiles .Tile.Card.Unknown:hover {background-color:#444;}

//a good option here is to have relative margin, but that causes the FrontSide div to jiggle after the animation in Chrome.
//todo: decrease margin for small view.
.Tile.Card .Glyph {
    width:80%;height:80%;margin:auto;
    margin-top:10%; //this percentage margin-top .
    //position: absolute;
    //top:8px;left:8px;bottom: 8px;right:8px;
    //display: inline-table;
    //needed to stop the animation from jiggling in Chrome.
    svg {width:100%;height:100%; }
}

.SettingsMenu .Glyph {width:48px;height:48px;}

.Debug.Glyph {width:32px;height:32px;
    position: absolute; left:0;right:0;top:0;bottom:0;margin:auto;
    border-radius: 50%; background-color: #eee; border:solid 3px #eee;
}

.GameOver { margin:1em; text-align: center; }

.TilesPreview {font-size: 1px; width:60px;height:60px;}
.TilesPreview .Tile.Card {border-radius: 1px;
                        border-style: none; background-color:#333;
                    }
.TilesPreview .Tile.Space {background-color: transparent;border-style: none;}
.Selected .TilesPreview .Tile.Card {background-color:#eee;}
.Selected .TilesPreview .Tile.Space {background-color: transparent;}

.LayoutPicker {max-width: 300px;}
.LayoutPicker .TilesPreview {text-align: center;}

.BigButtonCheckbox.MuiButton-text {padding:7px;} // default is 6px 8px. this is a nice square, and fit 4 in a row.
//.BigButtonCheckbox.Selected,.BigButtonCheckbox.Selected:hover {background-color: #eee;}
.BigButtonCheckbox.Selected,.BigButtonCheckbox.Selected:hover {background-color: $tealer;}

.TilsetPickerButton .Glyph {margin:5px;}
//.TilsetPickerButton:hover:not(.Selected) .Glyph {opacity: 0.8;} //have some feedback on hover, it is missing.
//for picture glyphs (not bastract), hide all colors.
.TilsetPickerButton .Glyph.Squid {mix-blend-mode: color-burn;filter: grayscale(1);opacity: 0.9;}
.TilsetPickerButton.Selected .Glyph.Squid {mix-blend-mode: hard-light;filter: grayscale(1) invert(1);}
//.TilsetPickerButton.Selected .Glyph {mix-blend-mode: screen;filter: grayscale(1);}

.TilsetPickerButton .Glyph.Dots g {filter: drop-shadow(0 1px 0 rgba(0,0,0,0.4));}
.TilsetPickerButton .Glyph.Dots g {fill:#333;}
.TilsetPickerButton.Selected .Glyph.Dots {filter: drop-shadow(0 1px 0 rgba(255,255,255,0.4));}
.TilsetPickerButton.Selected .Glyph.Dots g {fill:#eee;}

body .ShareButton {background-color: #eee;}
body .ShareButton:hover {background-color: #e5e5e5;}
.SettingsMenu .ShareButton {margin: auto 6px 6px;} // postioned by flex. auto top margin will move it to bottom.
.SettingsMenu .MuiListItemIcon-root {min-width: 32px;} // icons on the settings menu. default is 56px.

header h6.HeaderText {
    font-family: 'Crafty Girls', 'Roboto' , sans-serif; 
    font-size: 25px; letter-spacing: -1px;
    white-space: nowrap;
}

body .MuiTypography-h6 {font-family: 'Crafty Girls', 'Roboto' , sans-serif; letter-spacing: 0;}
.DialogContent .MuiTypography-h6 { margin-top: 12px; }

@media screen and (max-width: 441px) {
    header h6.HeaderText {font-size: 22px;}
    .Header .Dots {height:28px;width:28px;}
}