@import 'helpers';

.ToolbarScoreboard {
    /*margin-right:0.5em;*/ font-family: Roboto, sans-serif; 
    display:table;  border-collapse: separate; border-spacing: 10px 0;
}

.Pair {display:table-row;}

.ToolbarScoreboard .Score {
    display: table-cell; vertical-align: middle;
    padding:2px 5px;
    margin-right:0.5em; 
    height:48px; 
    min-width: 48px; width:5em; max-width: 15vw;
    //border:solid 1px rgba(0,0,0,0.4); 
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;

    label,data {display:block; text-align: center;}
    label {font-size: smaller; margin-bottom: 4px; text-transform: uppercase; opacity:0.8}
}

