$tilePadding:1vmin;
$tileMargin:3px;

$headerHeight:64px;

@mixin tileSize($baseSize) {
    width:$baseSize;
    height:$baseSize;

    //padding:$baseSize/10;

    &.Space.HalfWidth {width:$baseSize/2;height:$baseSize/2;}
}

.Tile.Space.HalfWidth {margin:0;}

.Tile {margin:$tileMargin;padding: $tilePadding;}

.Tile {@include tileSize(5vmin);}
.Tiles.LayoutSizeS .Tile {@include tileSize(19vmin)}
.Tiles.LayoutSizeM .Tile {@include tileSize(15vmin)}
.Tiles.LayoutSizeL .Tile {@include tileSize(9vmin); margin:1px;}

.TilesPreview .Tile {@include tileSize(10px);}
.TilesPreview.LayoutSizeM .Tile {@include tileSize(7px);}
.TilesPreview.LayoutSizeL .Tile {@include tileSize(5px);}

.TilesPreview .Tile {padding:0;margin:1px 1px 0 0;}

$TutorialTileSize: 64px;

.Tutorial.Tiles .Tile {
    @include tileSize($TutorialTileSize);
}

.Header .Dots {height:32px;width:32px; 
    display: inline-block; vertical-align: middle; margin-right:8px;}
.Header .Dots g {fill:white;}

// increase tile margin for large screens
@media screen and (min-width: 1000px) {
    .Tile {margin:$tileMargin + 1;}
}
@media screen and (min-width: 1500px) {
    .Tile {margin:$tileMargin + 2;}
}

//increase calculated tile size in some cases (hardcode sizes).
// many of the layouts are rectangle and similar tothe screen size.
@media screen and (orientation: portrait) {
    .GameArea .LayoutWidth3.LayoutHeight2 .Tile {@include tileSize(26vmin);}
    .GameArea .LayoutWidth3.LayoutHeight3 .Tile {@include tileSize(26vmin);}
    .GameArea .LayoutWidth5.LayoutHeight3 .Tile {@include tileSize(23vmin);}
    .GameArea .LayoutWidth5.LayoutHeight5 .Tile {@include tileSize(19vmin);}
    .GameArea .LayoutWidth4.LayoutHeight5 .Tile {@include tileSize(20vmin);}
}

//make height a bit smaller on phones
@media screen and (orientation: landscape) {
    .GameArea .LayoutWidth3.LayoutHeight2 .Tile {@include tileSize(22vmin);}
    .GameArea .LayoutWidth3.LayoutHeight3 .Tile {@include tileSize(22vmin);}
    .GameArea .LayoutWidth5.LayoutHeight3 .Tile {@include tileSize(20vmin);}
    .GameArea .LayoutHeight5 .Tile {@include tileSize(16vmin);}
}

// Width5 x Height3 can fill the screen nicely when the view is very rectangular like a smartphone,
// but wrapps closer to 1/1 ratios. This shriks the cards around that ratio.
@media screen and (min-aspect-ratio: 8/11) and (max-aspect-ratio: 11/10) {
    .GameArea .LayoutWidth5.LayoutHeight3 .Tile {@include tileSize(17vmin);}
}