@import 'helpers';

@mixin glyphColor($background) {
    filter: drop-shadow(0 1px 0 darken($background, 20%));

    & g {fill:$background;}
    & path {fill:$background;} //Triangle has a path instead of a g.
}

.Glyph.Dots { @include glyphColor($purple); }
.Glyph.Tokyo { @include glyphColor(#138c43); }
.Glyph.Osaka { @include glyphColor(#71e); }
.Glyph.Fukuoka { @include glyphColor(#681c1c); }
.Glyph.Miyagi { @include glyphColor(#ab4); }
.Glyph.Triangle { @include glyphColor($teal); }
.Glyph.FourTriangles { @include glyphColor(#303030); }
.Glyph.Hexagon { @include glyphColor(#fa0); }
.Glyph.RhombusCircle { @include glyphColor(#274982); }
.Glyph.ThreeHexagons { @include glyphColor(#36a1bc); }
.Glyph.Fukui { @include glyphColor(#ff7fd1); }

/*
.Glyph.Dots g {fill:$purple;}
.Glyph.Tokyo g {fill:#138c43; }
.Glyph.Osaka g {fill:#71e;stroke: black;}
.Glyph.Fukuoka g {fill:#681c1c; stroke:#411;}
.Glyph.Miyagi g {fill:#ab4;}
.Glyph.Triangle {fill:$teal;}
.Glyph.FourTriangles {fill:#303030;}
.Glyph.Hexagon {fill:#fa0;}
.Glyph.RhombusCircle {fill:#274982;}

.TilesetAbstract .FrontSide .Glyph {filter: drop-shadow( 0 1px 2px rgba(0,0,0,0.3) );}

.TilesetAbstract .FrontSide .Glyph.Hexagon {
    filter: drop-shadow(1px 1px 1px rgba(150, 60, 0, 1));
}
*/