@import 'helpers';

$carouselFrameWidth: 20rem;
$carouselFrameCount: 4;

@mixin setCarouselWidth($carouselFrameWidth) {
    .CarouselWrapper {
    width: $carouselFrameWidth;

    // this element should be wide enought to contain all frames. it's OK if it's too wide, we won't see the empty frames.
    .CarouselScroller {
      width: $carouselFrameWidth * $carouselFrameCount;

      // reduce the left margin according to the selected frame.
      @for $i from 1 through 6 {
        &.CarouseSelectedFrame#{$i} {
          margin-left: -$carouselFrameWidth * $i;
        }
      }

      .CarouselFrame {
        // since the parent width is accurate, we can use relative here. for 4 frames, this is 25%.
        width: 100% / $carouselFrameCount;
      }
    }
  }
}

.CarouselWrapper {
  overflow: hidden;
  height: 20em;

  .CarouselScroller {
    transition-property: margin;
    transition-duration: 400ms;
    transition-timing-function: ease-in;

    .CarouselFrame {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@include setCarouselWidth($carouselFrameWidth);

@media screen and (max-width: 441px) {
  @include setCarouselWidth(100%);
}

@keyframes popUp {
  0%   {opacity:0; height: 0}
  100% {opacity:1; height: 2em; }
}

.TutorialBoardWrapper {
  position: relative;

  .Message {
    background-color: #ddd;
    position: absolute; left: 0; right: 0; bottom: 0;
    text-align: center;
    overflow: hidden; line-height: 2em;
    border-radius: 0 0 4px 4px;
    border: solid 1px gray;
    border-top: none;
    animation-name: popUp; animation-duration: 200ms;
   }
}

.Tutorial {
  padding: 16px;
  border-radius: 6px;
  background-color: #111e;

  &.Tiles {
      position: relative;
      top:0;
      display:flex;
  }
}