<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131554111-1"></script> -->
    <script>
    try{
    (function(){
        if(navigator.doNotTrack==='1') return;
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-131554111-1');
        ga('create', 'UA-131554111-1', 'auto', 'tracker');
        ga('tracker.send', 'pageview');
    })();
    }catch(e){}
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"/>
    <title>Quantum</title>
    <meta name="description" content="Quantum is an infinite memory game - match cards to get new ones!">
    <meta name="author" content="Kobi Lidershnider">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crafty+Girls"> 
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.style.css%>?<%=htmlWebpackPlugin.files.chunks.style.hash %>">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#973c6d">
    <meta name="msapplication-TileColor" content="#973c6d">
    <meta name="theme-color" content="#973c6d"> <!-- ba0060 9a0040 973c6d!! -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kobi">
    <meta name="twitter:title" content="Quantum">
    <meta name="twitter:description" content="Quantum is an infinite memory game - match cards to get new ones!">
    <meta name="twitter:image" content="https://kobikobi.gitlab.io/quantum/banner_1400x700.png">
    <meta property="og:title" content="Quantum">
    <meta property="og:url" content="https://kobikobi.gitlab.io/quantum/">
    <meta property="og:description" content="Quantum is an infinite memory game - match cards to get new ones!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://kobikobi.gitlab.io/quantum/banner_1400x700.png">
</head>
<body class="tri"> <!-- radial bricks map tri Light -->
    <div id="root">
        <div class="Loading">
            <div class="Logo">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="490" height="490"
                    viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
                    <g>
                        <circle cx="245" cy="122.5" r="90"/>
                        <circle cx="387.814" cy="367.5" r="90"/>
                        <circle cx="102.187" cy="367.5" r="90"/>
                    </g>
               </svg>
            </div>
            Loading...
        </div>
    </div>
    <%
    const jsChunkNames = Object.keys(htmlWebpackPlugin.files.chunks).filter(cn => !cn.match(/style/));
    for (let chunk of jsChunkNames) { 
        const chunkData = htmlWebpackPlugin.files.chunks[chunk];
    %>
    <script src="<%= chunkData.entry %>?<%= chunkData.hash %>" defer></script><%
    } //for 
    %>
    <script src="upup.min.js"></script>
    <script>
        UpUp.start({
          'content-url': 'index.html',
            // todo: add static PNGs, favicon, 
          'assets': [
            <%= jsChunkNames.map(cn => htmlWebpackPlugin.files.chunks[cn]).map(c => `'${c.entry}?${c.hash}'`) %>
            , '<%= htmlWebpackPlugin.files.chunks.style.css %>?<%= htmlWebpackPlugin.files.chunks.style.hash %>'
            /*~~UpUpStaticAssetsList~~*/
          ],
        });
    </script>
</body>
</html>